
.banner h1, .banner h3, .banner h6 {
    margin: 0;
    text-shadow: 2px 2px 20px #000;
    text-align: center;
  }

.banner {
    color: white;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Serif';
  }

.image{
    background: url('src/assets/images/envato-4966945_1920.jpg') no-repeat;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
}

span {
    padding-right: 1rem;
}

.row .column {
    width: 32%;
  }
  
  /* Clear floats after the columns */
  .row {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;

  }

  .btm-section{
      font-size: 20px;
      padding-top: 10px;
      text-align: center;
      font-weight: bold;

  }

  .material-icons.md-48 { 
      font-size: 48px; 
      padding-top: 10px;
      padding-bottom: 10px;
    }


  .banner-text {
    font-family: 'IBM Plex Serif';
    text-shadow: 2px 2px 20px #000;
  }

  .extra-shadow {
    text-shadow: 1px 1px 20px black, 0 0 25px black, 0 0 5px black;
  }

  .features {
      font-size: 20px;
      font-family: 'IBM Plex Serif';

  }

  .btm-text {
    padding-bottom: 13px;

  }

  .btm-button {
      font-size: 25px;
  }