
<div>
    <div class="banner image">
        <div>
            <h1 class="mat-display-4 banner-text">Covid-19 Assessment</h1>
            <h6 class="mat-display-1 banner-text extra-shadow">Identify if you have the illness now</h6>
        </div>
    </div>
  
    <div class="row features">
        <div class="column">
            <div>Self Diagnosis</div>
            <mat-icon class="material-icons md-48">healing</mat-icon>
            <div>Determine if you have symptoms of the novel virus. This is not an Official Covid-19 testing site. The questions asked here are identical to the questions from medical facilities.</div>
        </div>
        <div class="column">
            <div>Self Help</div>
            <mat-icon class="material-icons md-48">explore</mat-icon>
            <div>Pinpoint local testing sites with the Google Maps API. After you have completed the questionnaire you will be directed to nearby testing facilities to thoroughly distinguish if you have it.</div>
        </div>
        <div class="column">
            <div>Self contained</div>
            <mat-icon class="material-icons md-48">local_hospital</mat-icon>
            <div>Quarantine yourself to assist others. Once the test is complete you should still isolate yourself to limit the spread of the virus. </div>
        </div>
    </div>
  
    <div class="btm-section">
        <div class="btm-text">Get tested now!</div>
        <button mat-flat-button color="primary" routerLink="questionnaire" class="btm-button">Begin Test</button>
    </div>
    
  
  </div>
  