
<div>
    <div class="banner image">
        <div>
            <h1 class="mat-display-4 banner-text">Welcome Page</h1>
            <h6 class="mat-display-1 banner-text">Lorem Ipsum dolar fanta coka cola yes</h6>
        </div>
    </div>
  
    <div class=row>
        <div class=column>
            <mat-icon class="material-icons md-48">healing</mat-icon>
            <div>Get tested now, sample text for right now</div>
        </div>
        <div class=column>
            <mat-icon class="material-icons md-48">explore</mat-icon>
            <div>Get tested now, sample text for right now</div>
        </div>
        <div class=column>
            <mat-icon class="material-icons md-48">local_hospital</mat-icon>
            <div>Get tested now, sample text for right now</div>
        </div>
    </div>
  
    <div class=btm-section>
        <h3>Get tested now!</h3>
        <button mat-flat-button color="primary" routerLink="questionnaire">Begin Test</button>
    </div>
    
  
  </div>
  