<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-toolbar color="primary" class="navbar mat-elevation-z8">
  <button mat-flat-button color="primary" routerLink="home">Do I have It?</button>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <div>
      <button mat-flat-button color="primary" routerLink="questionnaire">Questionnaire</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
